.About-Me-div {
    height: 100vh;
    width: 100%;
    // margin-top: 5em;
    z-index: 5;
    .title-container {
        position: absolute;
        display: flex;
        margin-left: 12em;
        align-items: center;
        width: 30em;
        h1 {
            margin-left: 1rem;
            font-size: 30px;
        }
    }
}