.Welcome-div {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35px;
    .Welcome-information-text{
        img.welcome-img {
            z-index: 1;
            float: right;
            margin-right: 100px;
        }
        .text-div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 60vh;
        }
        .circle-number-one {
            width: 100px;
            height: 100px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
            transition: all .5s ease-in-out;
            animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
        }
    }
}


// span
// p
// h1
// h3
// button

// .Welcome-information-imgs{
//     flex-direction: row;
// }


button {
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
    text-decoration: none;
    position: relative;
    font-family: inherit;
    width: 7em;
    height: 1em;
    line-height: 2px;
    text-align: center;
    z-index: 1;
}

button:hover {
    animation: ani 8s linear infinite;
    border: none;
    transform: scale(1.05);
}

@keyframes ani {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
    
    100% {
        background-position: 0% 50%;
    }
    }

button:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    background-size: 400%;
    border-radius: 35px;
}

button:hover::before {
    filter: blur(20px);
}

button:active {
    background: linear-gradient(32deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    animation: gradient 3s infinite;
    transform: scale(0.8);
}


* {
    scrollbar-width: 10px;
    scrollbar-color: #5d008f;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: #5d008f;
    border-radius: 10px;
    border: none;
}

*::-webkit-scrollbar-track {
    background: #dad6c9;
}