.NavBar-Container{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar);
    border-bottom-style: outset;

    .Logo-Container{
        margin-left: 20px;
    }

    .NavBar-Content-Container{
        input{
            display: none;
        }
        
        ul{
            display: flex;
            margin-left: auto;
            margin-right: 20px;
            width: 35em;
            height: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-content: stretch;
            align-items: center;
            .big-circle{
                display: none;
            }
            .link {
                position: relative;
                display: flex;
                li{
                    list-style: none;
                    color:#171515;
                    font-size: 21px;
                    font-weight: bold;
                }
            }
        }


        .link::before, .link::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #3F00B5;
            transform: scaleX(0);
            transition: transform .25s;
        }

        .link::before {
            top: -3px;
            transform-origin: left;
        }

        .link::after {
            bottom: -3px;
            transform-origin: right;
        }

        .link:hover::before, .link:hover::after {
            transform: scaleX(1);
        }
        span {
            font-size: 20px;
            color:black;
        }
    }
    .progress {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 5px;
        background-color: var(--navbar);
    }
    .bar {
        display: block;
        width: 0;
        height: inherit;
        background-image: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    }
}

@media screen and (max-width: 780px) {
    .NavBar-Container {
        flex-direction: column;
        align-items: flex-start;
        .Logo-Container{
            img{
                height: 80px;
            }
        }
        .NavBar-Content-Container{
            display: flex;
            position: absolute;
            top: 30px;
            right: 20px;
            z-index: 1;
            -ms-user-select: none;
            user-select: none;
            flex-direction: column;
            align-items: flex-end;
            .link{
                text-decoration: none;
                color: #171515;
                
                transition: color 0.3s ease;
            }
            input{
                display: flex;
                width: 40px;
                height: 32px;
                position: absolute;
                float: right;
                top: -7px;
                cursor: pointer;
                opacity: 0;
                z-index: 2;
                justify-content: flex-end;
            }
            span{
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
                
                background: #171515;
                border-radius: 3px;
                
                z-index: 1;
                
                transform-origin: 4px 0px;
                
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            opacity 0.55s ease;
                        }
            span:first-child{
                transform-origin: 0% 0%;
            }
            span:nth-last-child(2){
                transform-origin: 0% 100%;
            }
            input:checked ~ span{
                opacity: 1;
                transform: rotate(45deg) translate(-2px, -1px);
                background: #fff;
            }
            input:checked ~ span:nth-last-child(3){
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
            input:checked ~ span:nth-last-child(2){
                transform: rotate(-45deg) translate(0, -1px);
            }
            .menu{
                position: absolute;
                width: 300px;
                height: 300px;
                margin: -100px 0 0 -50px;
                padding: 50px;
                border-radius: 50%;
                background: rgba(63, 0, 181, 0.7);
                list-style-type: none;
                -webkit-font-smoothing: antialiased;
                transform-origin: 0% 0%;
                transform: translate(102%, -60%);
                
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
                
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .link{
                    li{
                        display: flex;
                        color: #fff;
                        padding: 10px 0;
                        font-size: 22px;
                        margin-left: 50px;
                    }
                }
                .big-circle{
                    position: absolute;
                    width: 300px;
                    height: 300px;
                    margin: -100px 0 0 -50px;
                    padding: 50px;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 1);
                    -webkit-font-smoothing: antialiased;
                    transform-origin: 0% 0%;
                    transform: translate(102%, -60%);
                    
                    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }
            }
            input:checked ~ ul{
                transform: translate(30%, -9%);
            }
        }
    }
}
