.soft-skills-div {
    .title-container {
        display: flex;
        margin-left: 5em;
        align-items: center;
        width: 30em;
        margin-bottom: 2em;
        h1 {
            margin-left: 1rem;
            font-size: 30px;
        }
    }
    .soft-skills-container{
        margin-left: 2em;
        margin-right: 2em;
        display: grid;
        grid-template-columns: repeat(auto-fill, 10em);
        justify-content: space-between;
        .each-skill{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: none;
            width: calc((100% - 50px) / 5);
            margin-bottom: 50px;
            width: 9em;
            place-self: center;

            &:last-child{
                margin-right: auto;
                margin-left: 10px;
            }

            img {
                height: 50px;
                width: 50px;
            }
            span {
                text-align: -webkit-center;
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 414px) {
    .soft-skills-div {
        .title-container{
            width: 13rem;
            margin-left: 2em;
        }
        .soft-skills-container {
            margin-left: 0.5em;
        }
    }
}