.Contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    .Social-Media{
        padding-left: 1em;
        padding-right: 1em;
    }
}